#body{
	background-color: rgb(0,0,0);
}

#divcont{
	padding-top: 150px; 
}

#formdiv{
	border: 2px solid white;
	border-color: #FABE27;
	background-color: rgb(0,0,0);
	padding: 50px;
	margin: auto;
	width: auto;
	border-radius: 10px;
}

h2{
	text-align: center;
	margin: auto;
	text-align: center;
	color: #FABE27;
}


#rstackHeader{
	padding-top: 20px;
}


#submitbutton{
	border: 2px solid white;
	border-color: #FABE27;
	color: white;
	background-color: rgb(0,0,0);

}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 4px #FABE27;
  z-index: 1;
}

#homel{
  width: 55px;
  height: 55px;
  border-radius: 50%;
}


li{
    border: 2px solid white;
	border-color: #FABE27;
	text-align: center;
	margin-top: 10px;
	width: auto;
	color: white;
	background-color: rgb(0,0,0);
	border-radius: 10px;

}

li:hover,#submitbutton:hover{
	background-color: rgb(66,66,67);
	box-shadow: 0 0 5px #FABE27;
}


input[type=text], textarea {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #DDDDDD;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px #FABE27;
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid #FABE27;
}


#cardList {
  padding: 0;
}